@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #111827;
  background: #f9fafb;
}

@supports (padding: max(0px)) {
  .safe-bottom {
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
  }
  .safe-top {
    padding-top: max(1rem, env(safe-area-inset-top));
  }
}
